@model ReasonableOrderMVC.Models.Order

@{ 
    var ValueList = ViewBag.productList;
    var ExistingOrderMessage = ViewBag.ExistingOrderMessage;
}

<br />
<h2 class="text-info">@(Model.Id!=0 ? "Edit" : "Create") Order</h2>
<br />

<div class="border container" style="padding:30px;">
    <form method="post">
        @if (Model.Id != 0)
        {
            <input type="hidden" asp-for="@Model.Id" />
        }
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="@Model.Name"></label>
            </div>
            <div class="col-6">
                @*<input asp-for="Name" class="form-control" />*@
                <select class="form-control" asp-for="@Model.Name" onchange="GetPrice()" id="items"
                        asp-items="@(new SelectList(ViewBag.productList,"Name","Name"))">
                    <option selected disabled="disabled">Please select one</option>
                </select>
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3">
                <label asp-for="@Model.Quantity">Quantity (#)</label>
            </div>
            <div class="col-6">
                <input Type="number" asp-for="@Model.Quantity" class="form-control" id="quantity" onblur="SetTotalPriceBasedOnQuantity(this.value)" onchange="SetTotalPriceBasedOnQuantity(this.value)" />
                <span asp-validation-for="@Model.Quantity" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="@Model.Price">Price ($)</label>
            </div>
            <div class="col-6">
                <input asp-for="@Model.Price" class="form-control" id="price" readonly/>
                <span asp-validation-for="@Model.Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="@Model.Total">Total ($)</label>
            </div>
            <div class="col-6">
                <input asp-for="@Model.Total" class="form-control" id="totalPrice" readonly/>
                <span asp-validation-for="@Model.Total" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3 offset-3">
                <button type="submit" class="btn btn-primary form-control">
                    @(Model.Id != 0 ? "Update" : "Add")
                </button>
            </div>
            <div class="col-3">
                <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>

    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/orderList.js"></script>
}